@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;800&display=swap");

$primaryFont: "Poppins", sans-serif;
$defaultTransition: all 500ms ease;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin mediaLarge {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin mediaMedium {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaSmall {
  @media screen and (max-width: 480px) {
    @content;
  }
}
